@font-face {
font-family: 'Open_Sans';
src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
font-family:'Roboto_Condensed';
src: url("../fonts/RobotoCondensed-Regular.ttf");
}
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}
.projects{
    /*background-image: url("../img/background.jpg");*/
    /*width:100%;*/
    /*height: 100%;*/
    background: #333131;
}
.sectionTitleText:before,
.sectionTitleText:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 7px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.sectionTitleText:before {
    right: 0.5em;
    margin-left: -50%;
}

.sectionTitleText:after {
    left: 0.5em;
    margin-right: -50%;
}
.experience{
    background: #4C5C68 !important;
}
.about{
    background: #46494C !important;
}
.contact{
    background: #4C5C68 !important;
}
.btn{
    background-color: #C5C3C6 !important;
    border: #C5C3C6 !important;
}
.btn:hover{
    color: white;
}
.wow {
    visibility: hidden;
}
.custom-collapse{
    width: 100%;
    position: absolute;
    top: 53px;
    background-color: #cb4749;
    overflow: hidden;
    transition: .3s ease-out;
}
.titleDiv{
    background-image: url("../img/title9.gif");
    background-repeat:no-repeat;
    background-size:100%;
    color:white;
    background-position:center;
    text-align:center;
    background-repeat: no-repeat;

}
.title{
  font-family:'Roboto_Condensed';
  display:flex;
  font-size:10vh;
  justify-content: space-evenly;
  padding-top: 5%;
  position:relative;
}
.dropdown-toggle::after {
    display:none;
}
.navbar{
  font-size:3vh;
  background-color: #1985A1 !important;
}
.row{
    padding-bottom: 3%;
}
.card-right{
    margin: 0 5% 0 2%;
}
.card-left{
    margin: 0 2% 0 5%;
}
.nav-link{
  color:#e3e4e5 !important;
}
.sectionTitle{
    color:white;
    padding-bottom:3%;
    font-family: 'Roboto_Condensed';
    font-size:3vh;
    text-align: center;
    padding-top:4%;
}
.nav-link:hover{
  color:white !important;
  transition: 0.2s ease-in;
}
.navBarText{
    border-bottom: 2px solid transparent !important;
}
.navBarText:Hover{
    border-bottom: 2px solid #46494C !important;
}
.dropdown-item.active, .dropdown-item:active{
  background-color: #cb4749 !important;
}
.icon{
  color:#e3e4e5;
}
.icon:hover{
  color:white;
}
.bodytext{
  font-family: 'Roboto_Condensed';
	font-size:3vh;
  margin-top: 4%;
  margin-bottom: 0 !important;
  text-align: center;
}
.bodyDiv{
    padding-bottom: 5%;
}
.container{
  font-family:'Roboto_Condensed';
  display:flex;
  justify-content: space-evenly;
  margin-top: 5%;
  position:relative;
}
.box{
}
.box:hover {
  opacity:0.5;
  position: relative;
  text-align: center;
}
.box:hover .photo_desc{
  display:block;
}
.container .photo_desc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto_Condensed';
  font-size:32px;
  font-weight:bolder;
  text-align: center;
  color: black;
  display:none;
}
.section{
}
