@font-face {
font-family: 'Open_Sans';
src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
font-family:'Roboto_Condensed';
src: url("../fonts/RobotoCondensed-Regular.ttf");
}
.dropdown-toggle::after {
    display:none;
}
.navbar{
  font-size:4vh;
}
.bodytext{
  font-family: 'Roboto_Condensed';
	font-size:3vh;
  margin-top: 4%;
  margin-bottom: 2%;
  text-align: center;
}
.container{
  font-family:'Roboto_Condensed';
  display:flex;
  justify-content: space-evenly;
  margin-top: 5%;
  position:relative;
}
.box{
}
.box:hover {
  opacity:0.5;
  position: relative;
  text-align: center;
}
.box:hover .photo_desc{
  display:block;
}
.container .photo_desc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto_Condensed';
  font-size:32px;
  font-weight:bolder;
  text-align: center;
  color: black;
  display:none;
}
.section{
}
.sectionTitle{
  font-family: 'Roboto_Condensed';
  font-size:3vh;
  text-align: center;
  padding-top:6%;
}
